/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container{
	width: 890px;
	margin: auto;
}
header{
	display: flex;
	flex-direction: row;
	margin-top: 36px;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
header nav a{
	margin: 0 23px;
	text-decoration: none;
	color: rgba(160, 138, 143, 0.65);
	font-weight: 800;
}
.cta{
	margin: 70px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.cta-text{
	text-align: center;
	margin-right: 60px;
}
.cta-text button{
	width: 100px;
}
.cta-text h1{
	font-size: 75px;
}
.artSection{
	display: flex;
	flex-direction: row;
}
.article{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 20px 5px;
}
footer{
	margin: 30px 0px;
}
.footerBlock{
	margin-bottom: 20px;
}
.lastLine{
	display: flex;
	justify-content: center;
	margin-top: 80px;
}

/* services.html */
.services-header-img{
	margin: 20px 0px;
}
hr{
	margin: 20px 0px;
}

.service-section{
	display: flex;
	justify-content: space-between;
}
.service-article{
	background: rgba(0, 0, 0, 0.02);
	border: 1px solid slategray;
	padding: 10px;
	width: 430px;
	margin-bottom: 30px;
}
.service-article button{
	background: white;
	cursor: pointer;
	border: 1px solid #492638;
	margin-top: 20px;
	border-radius: 12%;
	padding: 5px 18px;
}
.service-article button:hover {
	background: #d07fa7;
	border: 1px solid #985d7a;
	color: white;
}
.facts{
	display: flex;
	justify-content: space-between;
}
.facts article p{
	margin: 20px 0px;
	width: 400px;
}
.facts article ul li{
	margin: 10px 0px;
}